@{
    ViewData["Title"] = "Payment";
}

<div class="row">
<h1>Payment</h1>
<h4>Enter your payment details</h4>
        <!-- Display a payment form -->
        <form id="payment-form">
            <div id="payment-element">
                <!--Stripe.js injects the Payment Element-->
            </div>
            <button id="submit" class="btn btn-primary">
                <span id="button-text">Pay now</span>
            </button>
            <div id="payment-message" class="hidden"></div>
        </form>
    </div>
</div>
